body {
    background-color: rgb(244, 248, 249);
}
.twtbckgrnd {
    background-color:  rgb(255, 255, 255);
    padding: 30px;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    border: 2px solid rgb(225, 232, 237);
}
