body {
    background-color: rgb(244, 248, 249);
}
.twtbckgrnd {
    background-color:  rgb(255, 255, 255);
    padding: 30px;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    border: 2px solid rgb(225, 232, 237);
}
.profilepic {
    float: left;
}
.username {
    float: left;
    padding-left: 20px;
    font-family: sans-serif;
    font-size: 26px;
}
.username p {
    margin-top: 5px;
    color: rgb(104, 109, 129);
    font-size: 20px;
}

button {
    float: right;
    color: rgb(85, 172, 238);
    background-color: white;
    border: 1px solid rgb(85, 172, 238);
    border-radius: 4px;
    font-size: 18px;
    padding: 6px 12px 7px 11px;
}
button img {
    width: 22px;
    padding-right: 8px;
    vertical-align: middle;
}
